html, body {
  background-color: #FDFFFC;
  font-size: 14px;
  font-family: "Overpass";
  box-sizing: border-box;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

#content {
  height: 100%;
}

#site-header {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #011627;
  color: #FDFFFC;
  padding: 10px;
  height: 10%;
  z-index: 1;
}

@media only screen and (max-width: 450px) {
  #site-header {
    justify-content: right;
  }
}

.site-header-title {
  font-family: "Lobster Two";
  font-size: 4em;
}

@media only screen and (max-width: 450px) {
  .site-header-title {
    font-size: 2.5em;
  }
}

#site-nav-button {
  position: absolute;
  top: 25%;
  left: 10px;
  background-color: #011627;
  background-image: url(../images/menu.png);
  background-size: contain;
  width: 50px;
  height: 50px;
  border: 1px solid transparent;
  border-radius: 3px;
}

@media (max-width: 450px) {
  #site-nav-button {
    width: 40px;
    height: 40px;
  }
}

@media only screen and (max-width: 450px) {
  #site-nav-button {
   left: 5%;
  }
}

.site-nav {
  z-index: 0;
}

.site-nav-list {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 60px;
  font-family: "Allerta Stencil";
  font-weight: bold;
}

.site-nav-list li{
  width: 20%;
  height: 60px;
  background-color: #ffa01cb7;
  color: #011627;
  font-size: 2em;
  text-align: center;
  line-height: 60px;
}

@media (max-width: 450px) {
  .site-nav-list li {
    font-size: 1em;
  }
}

.image-carousel-wrapper {
  display: flex;
  flex-direction: column;
  margin: 5% auto;
  width: 90%;
  max-width: 990px;
  height: 75%;
}

.image-carousel-arrows {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 20px;
}

.image-carousel {
  display: flex;
  flex-direction: row;
  flex-flow: nowrap;
  overflow: hidden;
  width: 100%;
  max-width: 990px;
  height: 90%;
  max-height: 570px;
  border: 15px solid #EAEAEA;
  box-shadow: 0px 0px 30px gray;
  border-radius: 5px;
}

.image-carousel-button {
  padding: 5px 20px;
  background-color: #e71d35d3;
  color: #FDFFFC;
  border: 1px solid transparent;
  border-radius: 5px;
  font-weight: bold;
  font-size: 2em;
  font-family: "Sigmar One";
  box-shadow: 0px 2px 5px gray;
}

.slide-image {
  flex-shrink: 0;
  width: 100%;
  max-width: 960px;
}

.inactive {
  display: none;
}